<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main style="background-color: aqua;">
    <div class="container ">
        <div class="row py-3">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Rainfall Distribution Graph</h1>
                        
                        <div class="card-body">
                            <img src="/static/images/rainfall_hist.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_10yers.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_boxplot.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_trendline.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_highest.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_lowest.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_monthly_subdivision.png" alt="histogram  " class="card-img">
                            <img src="/static/images/rainfall_curve.png" alt="histogram  " class="card-img">
                            <h2 class="text-center">Rainfall Distribution STATE  Wise Graph</h2>
                            <img src="/static/images/Andaman & Nicobar Islands.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Arunachal Pradesh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Assam & Meghalaya.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Bihar.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Chhattisgarh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Coastal Andhra Pradesh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Coastal Karnataka.png" alt="histogram  " class="card-img">
                            <img src="/static/images/East Madhya Pradesh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/East Rajasthan.png" alt="histogram  " class="card-img">
                            <img src="/static/images/East Uttar Pradesh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Gangetic West Bengal.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Gujarat Region.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Haryana Delhi & Chandigarh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Himachal Pradesh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Jammu & Kashmir.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Jharkhand.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Kerala.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Konkan & Goa.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Lakshadweep.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Madhya Maharashtra.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Matathwada.png" alt="histogram  " class="card-img">  
                            <img src="/static/images/Naga Mani Mizo Tripura.png" alt="histogram  " class="card-img">
                            <img src="/static/images/North Interior Karnataka.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Orissa.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Punjab.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Rayalseema.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Saurashtra & Kutch.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Sub Himalayan West Bengal & Sikkim.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Tamil Nadu.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Telangana.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Uttarakhand.png" alt="histogram  " class="card-img">
                            <img src="/static/images/Vidarbha.png" alt="histogram  " class="card-img">
                            <img src="/static/images/West Madhya Pradesh.png" alt="histogram  " class="card-img">
                            <img src="/static/images/West Rajasthan.png" alt="histogram  " class="card-img">
                            <img src="/static/images/West Uttar Pradesh.png" alt="histogram  " class="card-img">  

                        </div>
                </div>
            </div>
            
            </div>
            </div>


    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>